1. Whrite a programme to accept percentage from the user and display the grade according to the following criteria :

In [2]:
marks = int(input("enter your number"))
if marks >= 90 :
  print("you will be a part of A batch")
elif marks >=80 and marks < 90 :
   print("you will be a part of B batch")

elif marks >= 60 and marks < 80 :
   print("you will be a part of C batch")

else :
   print("you will be a part of D batch")

enter your number85
you will be a part of B batch

2. Write a program to accept the cost price of a bike and display the road tax to be paid according to the following criteria :

In [22]:
#Ans-2:- Accept the cost price of bike and display road tax
cost=int(input("Please enter your price of bike"))
if cost>100000:
    print("Road tax to be paid 15%")
elif cost>50000 and cost<=100000:
    print("Road tax to be paid 10%")
else:
    print("Road tax to be paid 5%")

Please enter your price of bike130000
Road tax to be paid 15%

3. Check any city from the user and display monuments of that city.

In [6]:
city = input("Enter city name to find monument")
city = city.lower()

if city == "agra" :
  print("Taj Mahal")
elif city == "delhi" :
  print("Red fort")

elif city == "jaipur" :
  print("Jai Mahal")
else :
  print("please enter correct city name")

Enter city name to find monument"Jai  Mahal"
correct city name

4. Check how many times a given number can be divided by 3 before it is less than or equal to 10.

In [7]:
# Answer 4 :-
x = int(input("Enter the no."))
count = 0
while x >= 10 :
  x = x/3
  count= count +1
print(int(count))

Enter the no.10
1

5. Why and When to Use while loop in python give a detailed description with example.

In [26]:
#The "while" loop in Python is used to repeatedly execute a block of code as long as a given condition is true.
sum = 0
i = 1

while i <= 10:
    sum = sum + i
    i = i + 1

print(sum)

55

6. Use nested while loop to print 3 different pattern.

In [13]:
# Ans 6:- nested while loop to print 3 different pattern
#Triangle pattern :
rows = 5
for i in range(1, rows +1 ) :
  for j in range(1, i+1) :
    print("*", end=" ")
  print("")

#Pyramid pattern :
rows = 5
for i in range(1, rows +1) :
  for j in range(rows -i) :
    print(" ",end= "")
  for k in range(1,2*i) :
    print("*", end= "")
  print("")

#Diamond patter :
rows = 5
for i in range(1, rows +1) :
  for j in range(rows -i) :
    print(" ", end="")
  for k in range(1 ,2*i) :
    print("*", end= "")
  print("")

for i in range(rows -1,0,-1) :
  for j in range(rows - i) :
    print(" ", end= "")
  for k in range(1 , 2 * i) :
    print("*" , end= "")
  print("")

*
* *
* * *
* * * *
* * * * *
    *
   ***
  *****
 *******
*********
    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

7. Reverse a while loop to display number from 10 to 1.

In [15]:
i = 10
while  i > 0 :
  print(i)
  i = i- 1

10
9
8
7
6
5
4
3
2
1

8. Reverse a while loop to display numbers from 10 to 1.

In [20]:
number = 10
while number  >= 1 :
  print(number)
  number = number - 1

10
9
8
7
6
5
4
3
2
1