Q1. Which keyword is used to create a function? Create a function to return a list of odd numbers in the
range of 1 to 25.

In [2]:
#"def " is the keyword to creat a funtion and start to right a code . def keyword is used to initialise a function
def test(l) :
  l1 = []
  for i in l :
    if (i%2!=0):
        l1.append(i)
  return l1

In [4]:
test(l)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25]

Q2. Why *args and **kwargs is used in some functions? Create a function each for *args and **kwargs
to demonstrate their use.

In [9]:
#Answer :- *args is use in a function as a argument as we call that funtion we can pass any no. of parameter to it.
# *args (Meaning) : n, no. of argument you can pass inside a function.
# one or more argument pass inside a python that is meaning of steric function. no issue at all.
# args is not a key word. its a conventional . Can you give any other name in place of 'args' there is no issue at all.
# *args store a data in tuple () form
# this function is valid for linear value

def test2(*args) :
  return args



# **kwargs is used in a funtions as we can pass it to any key and value pair of the function while we calling it .
# it will work only if you enter data key and value pair in it must.
# meaning of  double steric(**) data must be in key and value pair.
# return a data in dictionary {} form or data type is 'dict'

def test3(**kwargs) :
  return kwargs

In [10]:
test2(1,2,3,5, "sudh","aamir_anamika" ,[1,2,3,4,7])

(1, 2, 3, 5, 'sudh', 'aamir_anamika', [1, 2, 3, 4, 7])

In [11]:
test3(name = "aamir", a= [1,2,3,4,5], b= [1,2,3,4] )

{'name': 'aamir', 'a': [1, 2, 3, 4, 5], 'b': [1, 2, 3, 4]}

Q3.  What is an iterator in python? Name the method used to initialise the iterator object and the method
used for iteration. Use these methods to print the first five elements of the given list [2, 4, 6, 8, 10, 12, 14,
16, 18, 20].

iterator :- Such an object which we can go to next and extract data one by one. thats a meaning of iterator . iterator is an object that contains a countable number of values. you can traverse through all the values.Technically in Python an iterator is an object which implements the iterator protocol, which consist of the method **iter()** and **next()**

In [12]:
l = [2,4,6,8,10,12,14,16,18,20]
l = iter(l)
next(l)

2

In [13]:
next(l)

4

In [14]:
next(l)

6

In [15]:
next(l)

8

In [16]:
next(l)

10

Q4.  What is a generator function in python? Why yield keyword is used? Give an example of a generator
function.

Answer : Generator functions are a special kind of function that return a lazy iterator or one by one data as a outcome in your consol called a generator iterator. Generator function reduces a memory consumption. it does not store the entire data at once. Data comes out one by one .this function without holding everything into a memory . Yield is a reserve keyword and also help in generating data in the generated function and return a values from a generator.Genrator function is created with Yield keyword.

In [17]:
# Example
def fab(n) :
  a ,b = 0, 1
  for i in range(n) :
    yield a
    a,b = b , a+b

In [18]:
for i in fab(10) :
  print(i)

0
1
1
2
3
5
8
13
21
34

Q5. Create a generator function for prime numbers less than 1000. Use the next() method to print the
first 20 prime numbers.

In [19]:
import math
def main() :
  n = 1
  count = 3

  while n < 1000 :
    n+= 1
    isprime = True

    for x in range(2, int(math.sqrt(count) + 1)) :
      if count % x == 0 :
        isprime = False
        break

    if isprime :
      print(count)

    count += 1

main()

3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311
313
317
331
337
347
349
353
359
367
373
379
383
389
397
401
409
419
421
431
433
439
443
449
457
461
463
467
479
487
491
499
503
509
521
523
541
547
557
563
569
571
577
587
593
599
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
809
811
821
823
827
829
839
853
857
859
863
877
881
883
887
907
911
919
929
937
941
947
953
967
971
977
983
991
997

Q6. Write a python program to print the first 10 Fibonacci numbers using a while loop.

In [21]:
x = 0
a ,b = 0,1
while x < 10 :
  print(a)
  a ,b = b, a+b
  x+=1

0
1
1
2
3
5
8
13
21
34

Q7. Write a List Comprehension to iterate through the given string: ‘pwskills’.

Expected output: ['p', 'w', 's', 'k', 'i', 'l', 'l', 's']

In [22]:
string= "pwskills"
[i for i in string]

['p', 'w', 's', 'k', 'i', 'l', 'l', 's']

Q8. Write a python program to check whether a given number is Palindrome or not using a while loop.

In [23]:
def isPalindrome(n) :
  x = str(n)
  l=[i for i in x]
  for j in range(len(l)) :
    if l[j] == l[len(l) -1] and j <= len(l) :
      return True
    else :
      return False
isPalindrome(10001)

True

Q9. Write a code to print odd numbers from 1 to 100 using list comprehension.

Note: Use a list comprehension to create a list from 1 to 100 and use another List comprehension to filter
out odd numbers.
Note: Create your assignment in Jupyter notebook and upload it to GitHub & share that GitHub repository

 link through your dashboard.
Assignment

In [33]:
l = [i for i in range(1,101)]
l2 = [i for i in l if i%2!=0]
l2

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]