Q1. Create a python program to sort the given list of tuples based on integer value using a
lambda function.


[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [11]:
l = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
l.sort(key = lambda x :x[1])
l

[('Virat Kohli', 24936),
 ('Jack Kallis', 25534),
 ('Ricky Ponting', 27483),
 ('Sachin Tendulkar', 34357)]

In [12]:
x = lambda x : x[1]
x(l)

('Jack Kallis', 25534)

Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using
lambda and map functions.


[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [20]:
l = [1,2,3,4,5,6,7,8,9,10]
l = list(map(lambda x : x*x , l))

In [21]:
l

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and
lambda functions


Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [16]:
l = [1,2,3,4,5,6,7,8,9,10]
tuple(map(lambda x : str(x) ,l))

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

Q4.  Write a python program using reduce function to compute the product of a list containing numbers
from 1 to 25.

In [17]:
from functools import reduce
l = []
for i in range(1,26) :
  l.append(i)
reduce(lambda x,y : x+y ,l)

325

Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the
filter function.


[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [18]:
l = [2,3,6,9,27,60,90,120,55,46]
list(filter(lambda x :(x%2 == 0 or x% 3==0) , l))

[2, 3, 6, 9, 27, 60, 90, 120, 46]

Q6. Write a python program to find palindromes in the given list of strings using lambda and filter
function.


['python', 'php', 'aba', 'radar', 'level']
Note: Create your assignment in Jupyter notebook and upload it to GitHub & share that GitHub repository

In [19]:
# Define the list of strings
strings = ['python', 'php','aba', 'radar','level']

# Use filter with lambda function to get the palindromes
palindromes = list(filter(lambda s : s==s[::-1], strings))
print("palindromes:", palindromes)

palindromes: ['php', 'aba', 'radar', 'level']